body > div,
body > div > div,
body > div > div > div.login-form {
  height: 100%;
}
h1 {
  color: #999999;  
  font-family: 'Tangerine';
  font-size: 400%;
}

h4 {
  font-family: 'Delius';
}
.featured {
  font-size: 300%;
  color: #999999;  
  font-family: 'Tangerine';
}
.homeImages {
  width: 400px;
}